page-login  {

}

.button-inner {
  background-color: #72855F;
}

.button {
  background-color: #72855F;
}

ion-item {
  color: #72855F;
}

.item item-block item-md {
  color: #49632A;
}

.toolbar-background {
  background-color: #72855F;
  opacity: 0.2;

}

ion-img {
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
