page-profile {

}

.help{
display:inline-block;
margin: auto;

}

.about {
display:inline-block;
margin: auto;
}

.footer{
  text-align: center;
  margin-bottom: 0.5em;
}

.ion-md-alert::before {
  color: #72855F;
}
